@font-face {
    font-family: 'edmondsans';
    src: url('../fonts/Edmondsans-Regular-webfont.eot');
    src: url('../fonts/Edmondsans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Edmondsans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Edmondsans-Regular-webfont.woff') format('woff'),
         url('../fonts/Edmondsans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Edmondsans-Regular-webfont.svg#edmondsansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edmondsans';
    src: url('../fonts/Edmondsans-Medium-webfont.eot');
    src: url('../fonts/Edmondsans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Edmondsans-Medium-webfont.woff2') format('woff2'),
         url('../fonts/Edmondsans-Medium-webfont.woff') format('woff'),
         url('../fonts/Edmondsans-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Edmondsans-Medium-webfont.svg#edmondsansmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'edmondsans';
    src: url('../fonts/Edmondsans-Bold-webfont.eot');
    src: url('../fonts/Edmondsans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Edmondsans-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Edmondsans-Bold-webfont.woff') format('woff'),
         url('../fonts/Edmondsans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Edmondsans-Bold-webfont.svg#edmondsansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}



