.address {
  background-color: $darkgrey;
  max-width: 1020px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.heart {
  background-color: $darkgrey;
  color: white;
  padding: 45px 15px;
  p, h3 {
    font-size: em(19);
    margin-bottom: 30px;
  }
  h3 {
    font-weight: 700;
  }
  a {
    color: $lightblue;
    text-transform: uppercase;
    font-size: em(13);
    font-weight: 700;
    letter-spacing: 1px;
    &:hover {
      opacity: .7;
    }
  }
}

@media only screen and (min-width: 700px) {
  .address {
    overflow: hidden;
    position: relative;
  }

  .map {
    float: left;
    width: 50%;
    img {
      width: 100%;
    }
  }

  .heart {
    float: right;
    width: 50%;
    padding: 0 40px;
    position: absolute;
    top: 50%;
    right: 0;
    @include transform(translateY(-50%));
    max-width: 50%;
  }
} 