.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.mino-logo {
  @include animation-delay(0s);
}

.explore {
  @include animation-delay(0.75s);
}

.master-nav, .menu-icon, h1 {
  @include animation-delay(0.75s);
}

.reviews {
  @include animation-delay(1.5s);
}