.billboard {
  position: relative;
}

.character-bg {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 480px;
  img, video {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 480px;
  }
  video {
    display: none;
  }
}

.mino-logo {
  z-index: 2;
  width: 240px;
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -120px;
}

.explore {
  z-index: 2;
  position: absolute;
  top: 280px;
  width: 210px;
  height: 40px;
  border-radius: 20px;
  left: 50%;
  margin-left: -105px;
  background-color: white;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
  color: $black;
  &:hover {
    background-color: $lightblue;
    color: white;
  }
}

.gradient {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 100px;
  @include background-image(linear-gradient(top, rgba(211, 210, 206, 0) 0%, rgba(211, 210, 206, .25)));
}

@media only screen and (min-width: 700px) {
  .character-bg {
    video {
      display: block;
    }
    img {
      display: none;
    }
  }
}

@media only screen and (min-width: 800px) {
  .character-bg {
    height: 700px;
    video {
      height: 700px;
    }
  }

  .mino-logo {
    width: 316px;
    top: 230px;
    margin-left: -163px;
  }

  .explore {
    top: 405px;
    width: 230px;
    height: 40px;
    margin-left: -115px;
    font-size: em(18);
  }
}

@media only screen and (min-width: 1250px) {
  .character-bg {
    video {
      height: auto;
      width: 100%;
    }
  }
}