.master-footer {
  padding: 25px 15px;
}

.edeo {
  width: 100px;
  margin: 0 auto;
  opacity: .5;
  img {
    width: 100px;
  }
  span {
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: em(11);
    line-height: 1.6;
  }
}

.foot-pages {
  overflow: hidden;
  margin-top: 10px;
  font-weight: 500;
  li {
    display: block;
    width: 50%;
    text-align: center;
    float: left;
    list-style: none;
    font-size: em(12);
    letter-spacing: 1px;
    text-transform: uppercase;
    a {
      display: block;
      padding: 10px 0;
      color: #9b9ea1;
      &:hover {
        color: $darkgrey;
      }
    }
  }
}

.social {
  overflow: hidden;
  font-weight: 500;
  li {
    width: 50%;
    float: left;
    list-style: none;
    padding-top: 20px;
    font-size: em(12);
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
    a {
      text-align: center;
    }
  }
}

.facebook {
  color: #3b579d;
  line-height: 17px;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -60px;
    background-image: url('../images/facebook_icon.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    float: left;
    margin-right: 5px;
  }
}

.twitter {
  color: #5ea9dd;
  line-height: 15px;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -70px;
    background-image: url('../images/twitter_icon.png');
    background-size: 17px 13px;
    background-repeat: no-repeat;
    width: 17px;
    height: 13px;
    display: block;
    float: left;
    margin-right: 5px;
  }
}

@media only screen and (min-width: 700px) {
  .master-footer {
    padding: 35px 15px;
    overflow: hidden;
  }

  .edeo {
    float: left;
  }

  .footer-nav {
    float: right;
  }

  .foot-pages {
    overflow: hidden;
    margin-top: 10px;
    float: none;
    li {
      display: inline;
      width: auto;
      text-align: left;
      float: none;
      a {
        display: inline;
        padding: 0 20px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }


  .social {
    float: right;
    li {
      width: auto;
      float: none;
      text-align: left;
      display: inline-block;
      width: 130px;
      padding-top: 10px;
      a {
        display: inline-block;
        text-align: left;
        float: right;
      }
    }
  } 
}