$black: #181a1b;
$white: #f6f7f7;
$paleyellow: #f1d3a8;
$lightblue: #57bae4;
$darkgrey: #181a1b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em;
}

fieldset, a, img {
  border: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: 'edmondsans';
  font-weight: normal;
  font-size: 100%;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

.width {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
}

.small-width {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
  padding: 0 15px;
}

.cf:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}