.master-header {
  position: relative;
  z-index: 2;
}

h1 {
  width: 130px;
  height: 70px;
  background-color: white;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-top: 7px;
  position: absolute;
  left: 15px;
  img {
    width: 90px;
    margin: 0 auto;
    margin-bottom: 2px;
  }
  span {
    display: block;
    color: $black;
    font-weight: 500;
    letter-spacing: 3px;
  }
}

.menu-icon {
  fill: white;
  width: 30px;
  position: absolute;
  right: 15px;
  top: 20px;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  .menu-icon {
    display: none;
  }
}

@media only screen and (min-width: 1020px) { 
  h1 {
    width: 175px;
    height: 110px;
    img {
      width:128px;
      margin: 12px auto 2px auto;
    }
  }
}
