.investors {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 45px 15px;
  h3 {
    font-weight: 700;
    color: $black;
    font-size: em(25);
    margin-bottom: 45px;
  }
  p {
    max-width: 850px;
    margin: 0 auto;
    font-size: em(17);
  }
  ul {
    padding-top: 40px;
  }
  li {
    list-style: none;
    margin-bottom: 60px;
    img {
      max-width: 130px;
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.investors .expansion {
  max-width: 250px;
}

@media only screen and (min-width: 500px) { 
  .investors {
    ul {
      overflow: hidden;
    }
    li {
      margin-bottom: 60px;
      width: 50%;
      float: left;
    }
    li:nth-child(3) {
      margin-bottom: 0;
    }
    .andreessen {
      margin-top: 25px;
    }


  }

}

@media only screen and (min-width: 800px) {
  .investors {
    padding: 80px 15px;
  }
} 

@media only screen and (min-width: 900px) { 
  .investors {
    ul {
      overflow: hidden;
      padding-top: 60px;
    }
    li {
      width: 25%;
      float: left;
      margin-bottom: 0;
    }
    .andreessen {
      margin-top: 25px;
    }
    .expansion {
      margin-top: 30px;
    }
    .ignition {
      margin-top: 25px;
    }
  }

}

