.mobile-nav {
  display: none;
  font-weight: 500;
  background-color: $darkgrey;

  a {
    display: block;
    text-align: center;
    padding: 15px 0;
    color: white;
    text-transform: uppercase;
    font-size: em(14);
    letter-spacing: 3px;
    &:hover {
      opacity: .7;
    }
  }
}

.master-nav {
  display: none;
}

@media only screen and (min-width: 800px) {
  .mobile-nav {
    display: none!important;
  }
  .master-nav {
    display: block!important;
    position: absolute;
    z-index: 2;
    right: 15px;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: em(14);
    li {
      display: inline-block;
    }
    a {
      background-color: transparent;
      line-height: 60px;
      padding: 0 70px;
      color: white;
      text-transform: uppercase;
      &:hover {
        opacity: .7;
      }
    }
    a:last-child {
      padding-right: 0;
    }
  }
}

@media only screen and (min-width: 1020px) { 
  .master-nav li {
    line-height: 110px;
  }
}