.office-space {
  max-width: 1020px;
  margin: 0 auto;
  height: 300px;
  background-size: cover;
  background-position: center center;
  background-image: url('../images/office_space.jpg');
}

@media only screen and (min-width: 800px) {
  .office-space {
    height: 400px;
  }  
}
