.our-story {
  height: 350px;
  background-color: $darkgrey;
  text-align: center;
  color: white;
  background-image: url('../images/about_bg.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  &:after {
    width: 40px;
    height: 10px;
    position: absolute;
    content: "";
    bottom: -5px;
    left: 50%;
    margin-left: -20px;
    background-color: $lightblue;
  }
  h2 {
    font-size: em(65);
    padding-top: 175px;
  }
}