.press {
  padding: 45px 15px;
  text-align: center;
  background-color: #f6f7f7;
  .small-width {

  }
  h3 {
    font-weight: 700;
    color: $black;
    font-size: em(25);
    margin-bottom: 45px;
    text-align: center;
  }
  h4 {
    font-weight: 700;
    font-size: em(19);
    color: $black;
    margin: 15px 0;
  }
  span {
    text-transform: uppercase;
    font-weight: 500;
    color: #8a929b;
    font-size: em(13);
  }
  article + article {
    margin-top: 60px;
  }
}

.company {
  img {
    max-width: 300px;
    width: 100%;
    padding-bottom: 15px;
    margin: 0 auto;
  }
}

.read {
  font-size: em(13);
  color: $lightblue;
  text-transform: uppercase;
  font-weight: 700;
  background-image: url(../images/small_right_arrow.png);
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position: right center;
  padding: 2px 20px 0 0;
  &:hover {
    opacity: .7;
  }
}

@media only screen and (min-width: 700px) {
  .press {
    padding: 45px 15px;
    text-align: left;
    article {
      overflow: hidden;
      h4 {
        margin: 5px 0 25px 0;
      }
    }
    article + article {
      margin-top: 100px;
    }
  }

  .article {
    float: right;
    width: 60%;
  }

  .company {
    float: left;
    width: 40%;
    padding-right: 30px;
    padding-top: 35px;
    img {
      max-width: 200px;
      margin: 0;
    }
  }
}

@media only screen and (min-width: 800px) {
  .press {
    padding: 80px 15px;
  }
} 
