.team {
  background-color: $darkgrey;
  padding: 45px 15px;
  h3 {
    font-weight: 700;
    color: white;
    font-size: em(22);
    margin-bottom: 45px;
    text-align: center;
  }
}

.members {
  max-width: 800px;
  margin: 0 auto;
}

.member {
  position: relative;
  @include transition(transform 0.2s);
  img {
    max-width: 100%;
  }
}

.member + .member {
  margin-top: 15px;
}

.bio {
  position: absolute;
  background: #222426;
  color: white;
  padding: 15px;
  width: 150px;
  border-radius: 5px;
  @include transform(translateY(-90%));
  top: -25px;
  left: 50%;
  margin-left: -75px;
  z-index: 2;
  display: none;
  &:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #222426 transparent transparent transparent;
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    margin-left: -7.5px;

  }
  h4 {
    font-size: em(14);
    font-weight: 700;
    margin-bottom: 10px;
  }
  p {
    font-size: em(12);
  }
}

.team-hiring {
  color: $white;
  font-size: em(20);
  text-align: center;
  margin-top: 45px;
  display: block;
  width: 100%;
  a {
    color: $lightblue;
    &:hover {
      opacity: .7;
    }
  }
}

@media only screen and (min-width: 360px) {
  .member + .member {
    margin-top: 0;
  }

  .member {
    width: 50%;
    float: left;
    padding: 5px;
    img {
      max-width: 100%;
    }
  }
}

@media only screen and (min-width: 500px) {
  .member {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 700px) {
  .member {
    width: 25%;
  }
}

@media only screen and (min-width: 800px) {
  .team {
    padding: 80px 15px;
  }
  .member {
    width: 20%;
  }
}
