.box {
  width: 100%;
  background-color: $darkgrey;
  padding: 25px;
  position: relative;
  height: 300px;
  span {
    color: $lightblue;
    font-size: em(12);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
  }
  h2 {
    font-size: em(40);
    color: white;
    line-height: 1.2;
  }
  blockquote {
    margin-top: 25px;
    position: relative;
    z-index: 1;
    line-height: 1.9;
    a {
      color: white;
      text-decoration: underline;
      &:hover {
        opacity: .7;
      }
    }
    &:before {
      position: absolute;
      top: -40px;
      left: -10px;
      content: open-quote;
      font-size: 80px;
      color: #3f4041;
      z-index: -1;
    }
    &:after {
      position: absolute;
      bottom: -90px;
      right: 10px;
      content: close-quote;
      font-size: 80px;
      color: #3f4041;
      z-index: -1;
    }
  }
}

.blue-go {
  width: 70px;
  height: 40px;
  display: block;
  background-image: url(../images/right_arrow.png);
  background-size: 18px 17px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-color: $lightblue;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 40px;
  left: 30px;
  &:hover {
    background-color: #70d4ff;
  }
}

#story {
  background-image: url(../images/our_story_bg.jpg);
  background-size: cover;
  background-position: center center;
}

#careers {
  background-image: url(../images/careers_bg.jpg);
  background-size: cover;
  background-position: center center;
  border-left: 1px solid #393a3b;
}

@media only screen and (min-width: 800px) {
  .three-boxes {
    overflow: hidden;
  }
  .box {
    width: 33.33333%;
    height: 300px;
    float: left;
  }
}

@media only screen and (min-width: 1020px) {
  .box {
    padding: 40px 45px;
  }

  .blue-go {
    bottom: 45px;
    left: 40px;
  }
}
