.we-believe {
  padding: 45px 15px;
  text-align: center;
  h3 {
    font-weight: 700;
    color: $black;
    font-size: em(25);
    margin-bottom: 45px;
  }
  p {
    font-size: em(20);
    line-height: 1.9;
    color: #404142;
  }
}

@media only screen and (min-width: 800px) {
  .we-believe {
    padding: 80px 15px;
  } 
}
